[Default Applications]
x-scheme-handler/http={{ browser.mime_desktop_app }}
text/html={{ browser.mime_desktop_app }}
x-scheme-handler/https={{ browser.mime_desktop_app }}

[Added Associations]
x-scheme-handler/http={{ browser.mime_desktop_app }};
text/html={{ browser.mime_desktop_app }};
x-scheme-handler/https={{ browser.mime_desktop_app }};
